<div class="row">
  <div class="col-6">
    <label class="btn btn-default p-0">
      <input type="file" class="form-control-file" accept=".xml" multiple (change)="selectFiles($event)" />
    </label>
  </div>

  <div class="col-6">
    <button
      class="btn btn-success btn-sm"
      [disabled]="!selectedFiles"
      (click)="uploadFiles()"
    >
      Carregar Arquivo(s)
    </button>
  </div>
</div>

    <div class="text-center" *ngIf="filesUploaded > 0">
      <div class="spinner-border" role="status">
        <span class="text-warning">Carregando...</span>
      </div>
    </div>

<div *ngIf="message.length" class="alert alert-secondary my-3" role="alert">
  <ul *ngFor="let msg of message; let i = index">
    <li>{{ msg }}</li>
  </ul>
</div>

<div class="card mt-3">
  <div class="card-header">Lista de arquivos importados</div>
  <ul
    class="list-group list-group-flush"
    *ngFor="let file of fileInfos | async"
  >
    <li class="list-group-item">
      <a href="{{ file.url }}">{{ file.name }}</a>
    </li>
  </ul>
</div>